<div class="Clip">
  <%= link_to clip.track.name, admin_audioset_track_path(clip.audioset, clip.track) %>
  <%= link_to  admin_audioset_clip_path(clip.audioset, clip) do %>
    <h3><%= clip.name %> [<%= clip.key %>]</h3>
  </div>
  <div style="width: 120px; height: 120px; border: 10px solid <%= clip.track.color %>;">
    <%= image_tag(clip.public_cover_url(:thumb) || 'https://via.placeholder.com/100') %>
  </div>
<% end %>
<%= link_to 'Edit', edit_admin_audioset_clip_path(clip.audioset, clip) %>
</div>
