<!DOCTYPE html>
<html>
  <head>
    <title>Antropoloops</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="notification is-success is-radiusless">
        <button class="delete"></button>
        <%= notice %>
      </div>
    <% elsif flash[:alert] %>
      <div class="notification is-warning is-radiusless">
        <button class="delete"></button>
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
